
html {
	font-family: Tahoma;
}

body {
	margin: 0px;
}

.top {
	background-color: #333;
	padding: 4px 10px 7px 10px;
	border-radius: 1px 1px 0px 0px;
	font-family: Verdana;
}

.content {
	background-color: #fff;
	padding: 5px 10px 5px 10px;
}

.bottom {
	background-color: #333;
	padding: 4px;
	border-radius: 0px 0px 1px 1px;
}

.include_link { color: #ff9902; font-weight: bold;}
.function { color: #000; font-weight: bold;}
.params { color: #000; font-weight: bold;}
.return { color: #000; font-weight: bold;}

.inc { color: #000; font-weight: bold;}
.incPath { color: #ff0000; font-weight: bold;}

.pawnFunc { color: #3333FF; font-weight: bold; }
.pawnParams { color: #000080; font-family: Verdana; }
.pawnString { color: #f00; }
.pawnKeyword { color: #007700; font-weight: bold; }
.pawnConstVar { color: #007700; }
.pawnNumber { color: #000080; }
.pawnTag { color: #007700; font-style: italic; }



